body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  font-family: 'Silkscreen', Courier, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1em;
}

.container > * {
  margin: 1em;
}

/* Site Info Header */

h1 {
  align-self: center;
  font-size: xx-large;
  font-weight: 36pt;
}

#title > em {
  color: greenyellow;
}

header {
  border-bottom: 1px solid white;
}

details {
  display: flex;
  flex-direction: column;
  gap: 1ex;
}

summary:hover {
  color: greenyellow;
}

#controls-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1ex;
}

#controls-info > span {
  display: flex;
  align-items: baseline;
  gap: 1ex;
  font-size: smaller;
  font-weight: lighter;
}

.key-symbol {
  background-color: gray;
  width: 1.2em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border: 2px outset white;
}

/* Game Area */

#play-space {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#maze-grid {
  margin: 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr); /* TODO adjust to dynamic */
  grid-template-columns: repeat(3, 1fr); /* TODO adjust to dynamic */
  width: min-content;
}

.maze-tile {
  width: 50px; /* TODO adjust to dynamic */
  height: 50px; /* TODO adjust to dynamic */
  /* background-color: white; */
  border: 1px solid greenyellow;
  box-sizing: border-box;
}

#player {
  position: absolute;
  margin: 0;
}

#player > svg {
  width: 30px; /* TODO adjust to dynamic */
  height: 30px; /* TODO adjust to dynamic */
  fill: greenyellow;
  margin: 0;
  padding: 0;
}

/* Timer  */

#time-value {
  font-size: larger;
  font-weight: bold;
}

#time-progress {
  background-color: greenyellow; /* TODO adjust to dynamic */
  width: 95%; /* TODO adjust to dynamic */
  height: 1em;
}

/* Footer */

footer {
  font-weight: 12pt;
  margin: 2em;
}

a#website-link {
  color: lightblue;
  text-decoration: none;
}

a#website-link:hover {
  color: cyan;
  text-decoration: underline;
}
