body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  font-family: 'Silkscreen', Courier, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1em;
}

.container > * {
  margin: 1em;
}

h1 {
  align-self: center;
  font-size: xx-large;
  font-weight: 36pt;
}

#title > em {
  color: greenyellow;
}

header {
  border-bottom: 1px solid white;
}

details {
  display: flex;
  flex-direction: column;
  gap: 1ex;
}

summary:hover {
  color: greenyellow;
}

#controls-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1ex;
}

#controls-info > span {
  display: flex;
  align-items: baseline;
  gap: 1ex;
  font-size: smaller;
  font-weight: lighter;
}

.key-symbol {
  background-color: gray;
  width: 1.2em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border: 2px outset white;
}

#play-space {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#maze-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: min-content;
}

.maze-tile {
  width: 50px;
  height: 50px;
  /* background-color: white; */
  border: 1px solid greenyellow;
}

footer {
  font-weight: 12pt;
  margin: 2em;
}

a#website-link {
  color: lightblue;
  text-decoration: none;
}

a#website-link:hover {
  color: cyan;
  text-decoration: underline;
}
